 <section class="container-fluid">
        <div class="row-fluid debug">
        	<div class="span6 offset1 debug" id="bio-container">
        		<h1>alexander:HUANG</h1>
        		<h4>architecture student</h4>
        		<article>
        			<p>This paragraph is supposed to be about me. Bacon ipsum dolor sit amet andouille adipisicing ut cupidatat sausage meatloaf capicola tenderloin sint kielbasa brisket shoulder anim minim. Meatloaf leberkas do, ut cillum eiusmod elit sed excepteur pork chop officia. Ea dolore quis, do sausage in spare ribs ullamco boudin pig cupidatat kielbasa short loin hamburger andouille. Mollit deserunt quis salami corned beef bacon.</p>
                    <p>Leberkas bresaola strip steak drumstick sausage fatback frankfurter, beef salami. Biltong boudin ground round turkey fatback shankle. Brisket prosciutto sausage meatball, pastrami boudin bresaola. Kielbasa chuck corned beef pastrami meatloaf pork t-bone flank venison fatback ribeye frankfurter turkey bacon jerky.</p>
                    <br></br>
        			<ul class="location">
        				<a href="#"><i class="icon-map-marker"></i>  Long Island, NY</a>
        			</ul>
        			<ul class="education">
        				<a href="#"><i class="icon-pencil"></i>  Pratt Institute (Expected Graduation: 2015)</a>
        			</ul>
        		</article>
        	</div>
        	<div class="span4 debug">
        		<h3>Twitter Feed</h3>
        		<a class="twitter-timeline" href="https://twitter.com/ChippedFish" data-widget-id="316719024589381632">Tweets by @ChippedFish</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
                </script>
        	</div>
        </div>
    </section>